body{
    background-image: url(download.jpg);
    
}

.one {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 1000px;
}


.two{
    display: flex;
    flex-direction: column;
}

.five{
background-color: white;
}

button{
    margin-left: 1183px;
    margin-top: 15px;
    background-color:  ;
}

